{{! готовые маршруты  }}

<center>
  <div class="container">
    <div id="map" style="width: 600px; height: 400px"></div>
  </div>
  <form style="margin-top:20px" class="container card new-form" id="mybestform1">
    
  <p>Название: {{title}}</p>
  <p>Автор маршрута: {{author}}</p>
  <p>Длина маршрута: {{lengthRoute}}</p>
  <p>Время: {{timeRoute}}</p>
  <p>Описание: {{description}}</p>
  
  
  </form>

</center>
